<%= form_with(model: post, local: true) do |form| %>
 <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.container_for :name, class: "field" do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.error_for :name, class: "danger hide" %>
  <% end %>

  <%= form.container_for :age, class: "field" do %>
    <%= form.label :age %>
    <%= form.number_field :age %>
    <%= form.error_for :age, class: "danger hide" %>
  <% end %>

  <%= form.container_for :body, class: "field" do %>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.error_for :body, class: "danger hide" %>
  <% end %>

  <%= form.container_for :consent, class: "field" do %>
    <%= form.label :consent %>
    <%= form.check_box :consent %>
    <%= form.error_for :consent, class: "danger hide" %>
  <% end %>

   <div data-controller="nested-form">
    <template data-target="nested-form.template">
      <%= form.fields_for :comments, Comment.new, child_index: "NEW_RECORD" do |comment| %>
        <%= render "comment_fields", form: comment %>
      <% end %>
    </template>

    <div class="comments" data-target="nested-form.items">
        <%= form.fields_for :comments do |comment| %>
      <%= render "comment_fields", form: comment %>
    <% end %>
    </div>

    <div data-target="nested-form.links">
      <%= link_to "Add Comment", "#", data: { action: "click->nested-form#add_association" } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
